/* CSS Styles */

*{
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  color: #222;
  font-size: 24px; 
  font-family: Verdana, Geneva, sans-serif;
  background-color: beige;
}

h1 {
  margin: 30px;
}

.candidates {
  height: 500px;
  width: 500px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  margin-top: 4%;
}

.candidate {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #ececec;
  border: 4px solid black;
  margin: 2px;
}

.voteCount {
  border-radius: 50%;
  color: #173c8b;
  border-style: double;
  font-weight: 900;
  padding: 5%;
  padding-left: 8%;
  padding-right: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.candidate button {
  color: #173c8b !important;
  text-transform: uppercase;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #173c8b !important;
  border-radius: 30px;
  display: inline-block;
}